{% extends 'blog/base.html' %}

{% block title %}
About
{% endblock title %}


{% block heading %}
<div class="container" style="font-weight: bold; color: black; font-size: larger;">
    About
</div>
{% endblock heading %}

{% block body %}

<div class="container my-5">
    <p style="font-weight: 400; font-size: larger; color: black;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur laudantium culpa voluptatibus repudiandae. Earum veniam sed itaque, delectus suscipit id voluptas, perferendis eveniet illum molestias quisquam praesentium voluptates. Odio cumque molestiae maxime, ipsa nihil officiis tempora totam nostrum accusantium dolores!
    </p>
    <p style="font-weight: 400; font-size: larger; color: black;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur laudantium culpa voluptatibus repudiandae.
        Earum veniam sed itaque, delectus suscipit id voluptas, perferendis eveniet illum molestias quisquam praesentium
        voluptates. Odio cumque molestiae maxime, ipsa nihil officiis tempora totam nostrum accusantium dolores!
    </p>
    <p style="font-weight: 400; font-size: larger; color: black;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur laudantium culpa voluptatibus repudiandae.
        Earum veniam sed itaque, delectus suscipit id voluptas, perferendis eveniet illum molestias quisquam praesentium
        voluptates. Odio cumque molestiae maxime, ipsa nihil officiis tempora totam nostrum accusantium dolores!
    </p>
</div>

<div class="container my-2" style="color:darkslategrey">.</div>
<div class="container my-2" style="color:darkslategrey">.</div>

{% endblock body %}