{% extends 'blog/base.html' %}

{% block title %}
Login
{% endblock title %}


{% block heading %}
<div class="container my-4" style="font-size: xx-large;">
Login
</div>
{% endblock heading %}

{% block body %}

<div class='container'>
<div class="row">
    <div class="col-md-4 col-sm-4 offset-4">
    <form action="" method="POST" novalidate>
    {% csrf_token %}
{% for fm in form %}

<div class='form-group mb-2'>
{{fm.label_tag}} {{fm}} <span style="color: orangered;"> {{ fm.errors|striptags }} </span>
</div>
{% endfor %}

{% if form.non_field_errors %}
{% for err in form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {{ err }}
</div>
{% endfor %}
{% endif %}

<input type="submit" value="Submit" class="btn btn-info mt-4">


</form>
</div>
</div>
</div>

<div class="container my-2" style="color:darkslategrey">.</div>
<div class="container my-1" style="color:darkslategrey">.</div>
<div class="container my-1" style="color:darkslategrey">.</div>
<div class="container my-1" style="color:darkslategrey">.</div>
<div class="container my-1" style="color:darkslategrey">.</div>

{% endblock body %}