<nav class="navbar navbar-expand-lg navbar-light bg-lightgray mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"  style="font-size:30;font-weight:bold">MyBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="font-size:30;font-weight:bold">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}" style="font-size:30;font-weight:bold">About</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}" style="font-size:30;font-weight:bold">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" style="font-size:30;font-weight:bold">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" style="font-size:30;font-weight:bold">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}" style="font-size:30;font-weight:bold">Signup</a>
        </li>
        {% endif %}
        
    </div>
  </div>
</nav>